body, html{
    background-color: #141518;
}

#app{
    margin-top: 70px;
}
.footer {
    margin: 10px auto 0;
    color: #777;
    border: 1px solid #000;
    width: 970px;
}

.textbox {
    background-color: #181817;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 10px;
}


.navbar{
    background-color: #2C2F34;
}

.navbar-brand{
    padding: 10px 15px;
}

.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.cards{
    padding: 10px;
    width: 972px;
    background-color: #2C2F34;
    margin: 0 auto;
    border-radius: 10px;
}

.post, .post .hover {
    border: 2px solid #444442;
}

.post {
    background-color: #181817;
    display: inline-block;
    margin: 4px 2px;
    position: relative;
}

.post{
    margin-right: 10px;
}

.post:nth-child(5n){
    margin-right: 2px;
}

.post, .post img {
    width: 180px;
    height: 180px;
    line-height: 0;
}

.post img {
    outline: #121211 solid 1px;
    outline-offset: -1px;
}


.post a.image-list-link {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.post .point-info {
    bottom: -70px;
}

.post .point-info {
    background: #000;
    background: rgba(0,0,0,.7);
    position: absolute;
    color: #FFF;
    height: 70px;
}

.post .point-info, .post .post-info {
    width: 100%;
}
.transition {
    transition: all .07s ease-in-out;
    -webkit-transition: all .07s ease-in-out;
}

.post .point-info>div {
    height: 70px;
}
.relative {
    position: relative;
}

.post .hover {
    display: none;
    padding: 7%;
    width: 120%;
    z-index: 2;
    background-color: #121211;
    top: 101%;
    margin-left: -19%;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0 2px 5px #000;
    -moz-box-shadow: 0 2px 5px #000;
    box-shadow: 0 2px 5px #000;
    text-align: left;
    left: 10%;
}
.post .hover, .post a.image-list-link {
    position: absolute;
}

.post:hover > .hover{
    display:  block;
}
.post, .post .hover {
    border: 2px solid #444442;
}

.post p {
    line-height: 1.5em;
    color: #fff;
    max-height: 11em;
    padding: 0;
    letter-spacing: .03em;
    margin-bottom: 27px;
}


.post .post-info {
    background-color: #232323;
    padding: 7%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #999;
    border-top: 1px solid #000;
}

.igp-header-wrapper{
    display: block;
    width: 970px;
    margin: 15px auto;
    color: white;
    font-size: 25px;
}

.igp-header-wrapper .search-params,
.igp-header-wrapper .header-author{
    font-size: 27px;
    font-style: italic;
}
.image-page{
    width: 970px;
    background-color: #2C2F34;
    margin: 0 auto 30px auto;
    border-radius: 10px;
}

.post-holder img{
    max-width: 920px;
    display: block;
    margin: 10px auto;
}

.post-header {
    box-sizing: border-box;
    padding: 20px;
    background: #2c2f34;
    border-radius: 10px 10px 0 0;
    position: relative;
}

.post-title {
    color: #f2f2f2;
    font-size: 18px;
    line-height: normal;
    text-shadow: none;
    overflow: hidden;
    outline: 0;
    display: block;
    font-weight: 400;
    max-height: 154px;
}

.post-title-meta {
    color: #BBB;
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    max-height: 18px;
    line-height: 18px;
}

.post-holder{
    background-color: #000;
    text-align: center;
}

.comment-wrapper{
    color: white;
    margin: 0 20px 20px;
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.comment > .comment{
    margin-left: 45px;
}

.comment-text{
    margin-bottom: 5px;
}

.author{
    margin-right: 10px;
    color: #bbb!important;
    font-weight: 700;
    display: inline-block;
    font-size: 11px;
}

.points{
    font-size: 11px;
}

.ip-image,
.ip-comments{
    overflow: hidden;
}

.image-stats{
    color: #fff;
    margin: 0 0 15px 25px;
}

.post-action-stats-points{
    margin-right: 20px;
}

#portal > #floatingCirclesG{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
#floatingCirclesG{
    position:relative;
    width:122px;
    height:122px;
    margin:auto;
    transform:scale(0.6);
    -o-transform:scale(0.6);
    -ms-transform:scale(0.6);
    -webkit-transform:scale(0.6);
    -moz-transform:scale(0.6);
}

.f_circleG{
    position:absolute;
    background-color:rgb(255,255,255);
    height:22px;
    width:22px;
    border-radius:11px;
    -o-border-radius:11px;
    -ms-border-radius:11px;
    -webkit-border-radius:11px;
    -moz-border-radius:11px;
    animation-name:f_fadeG;
    -o-animation-name:f_fadeG;
    -ms-animation-name:f_fadeG;
    -webkit-animation-name:f_fadeG;
    -moz-animation-name:f_fadeG;
    animation-duration:1.2s;
    -o-animation-duration:1.2s;
    -ms-animation-duration:1.2s;
    -webkit-animation-duration:1.2s;
    -moz-animation-duration:1.2s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}

#frotateG_01{
    left:0;
    top:49px;
    animation-delay:0.45s;
    -o-animation-delay:0.45s;
    -ms-animation-delay:0.45s;
    -webkit-animation-delay:0.45s;
    -moz-animation-delay:0.45s;
}

#frotateG_02{
    left:14px;
    top:14px;
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -ms-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
}

#frotateG_03{
    left:49px;
    top:0;
    animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;
}

#frotateG_04{
    right:14px;
    top:14px;
    animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
}

#frotateG_05{
    right:0;
    top:49px;
    animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
}

#frotateG_06{
    right:14px;
    bottom:14px;
    animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
}

#frotateG_07{
    left:49px;
    bottom:0;
    animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
}

#frotateG_08{
    left:14px;
    bottom:14px;
    animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
}



@keyframes f_fadeG{
    0%{
        background-color:rgba(0,0,0,0.39);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-o-keyframes f_fadeG{
    0%{
        background-color:rgba(0,0,0,0.39);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-ms-keyframes f_fadeG{
    0%{
        background-color:rgba(0,0,0,0.39);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-webkit-keyframes f_fadeG{
    0%{
        background-color:rgba(0,0,0,0.39);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-moz-keyframes f_fadeG{
    0%{
        background-color:rgba(0,0,0,0.39);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}
.social{
    margin: 15px 20px 0 20px;
}

.social-icon {
    border-radius: 54px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: inline-block;
    color: white;
    text-align: center;
    margin-left: 10px;
}

.social-icon i{
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    line-height: 27px;
}

.social-icon:first-child {
    margin-left: 0;
}

.social-icon.icon-f {
    background-color: #45619d;
}

.social-icon.icon-twttr {
    background-color: #55acee;
}

.social-icon.icon-pin{
    background-color: #db2b42;
}

.social-icon.icon-reddit {
    background-color: #f54b00;
}