.navbar{
    background-color: #2C2F34;
}

.navbar-brand{
    padding: 10px 15px;
}

.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}